.popup-container {
  width: 500px;
  /* Increase the width of the popup */
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}

.popup-title {
  color: #333;
  font-size: 24px;
}

.input-container {
  margin-bottom: 30px;
  /* Increase the space between input and submit button */
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #0056b3;
}